<header class="py-2">
  <nav class="mx-auto block w-full max-w-screen-2xl rounded-xl border border-white/80 bg-white bg-opacity-80 py-2 px-4 text-white shadow-md backdrop-blur-2xl backdrop-saturate-200 lg:px-8 lg:py-4">
    <div>
      <div class="container mx-auto flex items-center justify-between text-gray-900">
        <a
          routerLink="/"
          class="mr-4 block cursor-pointer py-1.5 font-sans text-sm font-normal leading-normal text-inherit antialiased"
        >
          <span>Toko Kadal</span>
        </a>
        <button
          class="middle none center rounded-lg bg-gradient-to-tr from-pink-600 to-pink-400 py-2 px-4 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none inline-block"
          type="button"
          routerLink="/cart"
        >
          <span>Cart</span>
        </button>
      </div>
    </div>
  </nav>
</header>
